.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16rem 16rem 16rem 16rem 16rem 16rem;
    /* column-gap: 5%; */
    row-gap: 2rem;
    grid-template-areas: 
    "project-1"
    "project-2"
    "project-3"
    "project-4"
    "project-5" 
    "project-6";
}
.project1 {
    grid-area: project-1;
}
.project2 {
    grid-area: project-2;
}
.project3 {
    grid-area: project-3;
}
.project4 {
    grid-area: project-4;
}
.project5 {
    grid-area: project-5;
}
.project6 {
    grid-area: project-6;
}
@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 16rem 16rem 16rem;
        column-gap: 10%;
        /* row-gap: 2rem; */
        grid-template-areas: 
        "project-1 project-2"
        "project-3 project-4"
        "project-5 project-6";
    }
}
@media (min-width: 1200px) {
    .container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 16rem 16rem;
        column-gap: 5%;
        row-gap: 2rem;
        grid-template-areas: 
        "project-1 project-2 project-3"
        "project-4 project-5 project-6";
    }
}
@media (min-width: 2000px) {
    .container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        grid-template-rows: 22rem 22rem;
        column-gap: 5%;
        row-gap: 2rem;
        grid-template-areas: 
        "project-1 project-2 project-3"
        "project-4 project-5 project-6";
    }
}