.container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 16rem 16rem 16rem 16rem;
    /* column-gap: 10%; */
    row-gap: 2rem;
    grid-template-areas: 
    "project-1"
    "project-2"
    "project-3"
    "search-all";
    /* padding-top:2rem; */
    /* padding-bottom: 2rem; */
    /* padding-left: 5rem;
    padding-right: 5rem; */
}
.project1 {
    grid-area: project-1;
}
.project2 {
    grid-area: project-2;
}
.project3 {
    grid-area: project-3;
}
.searchAll {
    grid-area: search-all;
}
@media (min-width: 576px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 16rem 16rem;
        column-gap: 10%;
        row-gap: 2rem;
        grid-template-areas: 
        "project-1 project-2"
        "project-3 search-all";
        /* padding-top:2rem; */
        /* padding-bottom: 2rem; */
        /* padding-left: 5rem;
        padding-right: 5rem; */
    }
    .project1 {
        grid-area: project-1;
    }
    .project2 {
        grid-area: project-2;
    }
    .project3 {
        grid-area: project-3;
    }
    .searchAll {
        grid-area: search-all;
    }
}
@media (min-width: 2000px) {
    .container {
        display: grid;
        grid-template-columns: 45% 45%;
        grid-template-rows: 26rem 26rem;
        column-gap: 10%;
        row-gap: 2rem;
        grid-template-areas: 
        "project-1 project-2"
        "project-3 search-all";
        /* padding-top:2rem; */
        /* padding-bottom: 2rem; */
        /* padding-left: 5rem;
        padding-right: 5rem; */
    }
    .project1 {
        grid-area: project-1;
    }
    .project2 {
        grid-area: project-2;
    }
    .project3 {
        grid-area: project-3;
    }
    .searchAll {
        grid-area: search-all;
    }
}

